// Import scoped CSS variables
@import "src/theme/scoped-variables/page-introduction-variables.scss";

// Import general styles for the secondary toolbar
@import "src/theme/common/secondary-toolbar.scss";

// Import general styles for the collection-ion-content class
@import "src/theme/common/collection-ion-content.scss";

// Import general styles for the scroll-content-container class
@import "src/theme/common/scroll-content-container.scss";

#TOC {
  background-color: var(--intro-toc-background-color);
  padding: 10px 20px 70px 20px;
  margin: 0 10px 0 20px;
  height: calc(100% - 90px);
  width: 85%;
  max-width: 375px;
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.25s;
  font-size: 1rem;
  right: 10px;
}

#TOC #toc-close-button {
  display: flex;
  justify-content: flex-end;

  ion-button.close {
    margin-right: -0.35rem;
    min-height: 2rem;
    min-width: 2rem;

    &::part(native) {
      padding: 0;
    }

    ion-icon {
      color: var(--intro-toc-text-color);
      font-size: 2rem;
    }
  }
}

/* On large screens: the intro-toc floats to the right of the text if not in mobile mode. */
@media (min-width: 1000px) {
  ion-content:not(.mobile-mode-content) nav#TOC {
    position: sticky;
    height: 100%;
    transition: none;
    z-index: 1;
    width: 50vw;
    right: unset;
  }
}

@media screen and (max-width: 1000px) {
  .mobile-mode-content #TOC {
      height: calc(100% - 115px);
  }
}

@media screen and (max-width: 820px) {
  #TOC {
      height: calc(100% - 70px);
      right: 0;
  }
}

@media screen and (max-width: 450px) {
  #TOC {
      width: 75%;
  }
}

.mobile-mode-content #TOC {
  height: calc(100% - 96px);
  margin-right: 0;
  right: 0;

  #toc-close-button {
    display: none;
  }
}
