@let emailVerificationInProgressValue = emailVerificationInProgress();
@let emailVerificationCompletedValue = emailVerificationCompleted();
@let verifyEmailErrorValue = verifyEmailError();

<ion-content>
  <article>
    <div class="narrow-wrap">
      <h1 i18n="@@VerifyEmail.Title">Verifiera e-postadress</h1>

      @if (emailVerificationInProgressValue) {
        <auth-status-message
          type="processing"
          i18n-message="@@VerifyEmail.Verifying"
          message="Verifierar din e-postadress ..."
        ></auth-status-message>
      }
      @if (emailVerificationCompletedValue) {
        <auth-status-message
          type="success"
          i18n-message="@@VerifyEmail.Success"
          message="Din e-postadress har verifierats. Du kan nu logga in på ditt konto."
        ></auth-status-message>
      }
      @if (verifyEmailErrorValue === 'invalid_link') {
        <auth-status-message
          type="error"
          i18n-message="@@VerifyEmail.InvalidLink"
          message="Verifieringslänken är ogiltig eller har löpt ut."
        ></auth-status-message>
      }
      @if (verifyEmailErrorValue === 'request_failed') {
        <auth-status-message
          type="error"
          i18n-message="@@VerifyEmail.RequestFailed"
          message="Verifieringen misslyckades. Försök igen senare."
        ></auth-status-message>
      }

      <p class="center no-margins">
        <a [routerLink]="['/login']" i18n="@@VerifyEmail.BackToLogin">Till inloggning</a>
      </p>
    </div>
  </article>
</ion-content>
