@let text = html();

@if (text === undefined) {
  <ion-spinner class="loading" name="crescent"></ion-spinner>
} @else {
  @let viewOptions = viewOptionsService.show();

  <div class="tei teiContainer"
       [innerHTML]="text | trustHtml"
       [MathJax]="text"
       [attr.lang]="textLanguage() || null"
       [class.show_comments]="viewOptions.comments"
       [class.show_personInfo]="viewOptions.personInfo"
       [class.show_placeInfo]="viewOptions.placeInfo"
       [class.show_workInfo]="viewOptions.workInfo"
       [class.show_emendations]="viewOptions.emendations"
       [class.show_normalisations]="viewOptions.normalisations"
       [class.show_abbreviations]="viewOptions.abbreviations"
       [class.show_paragraphNumbering]="viewOptions.paragraphNumbering"
       [class.show_pageBreakOriginal]="viewOptions.pageBreakOriginal"
       [class.show_pageBreakEdition]="viewOptions.pageBreakEdition"
       [class.clickable-illustrations]="inlineVisibleIllustrations() && illustrationsViewAvailable()">
  </div>
}
