/**
 * TEI INTRODUCTION
 * Styles for introductions.
 */

/*
The table styles here could possibly be changed to
affect all tables in div.tei, not just in intros.
*/
page-introduction div.tei {
  transition: padding-left linear 0.2s;

  &.hideIntro #content,
  div[data-id="content"] {
    // This is a legacy style to not display the intro-TOC above the
    // actual intro text, but the TOC is nowadays removed from the
    // HTML there.
    display: none !important;
  }

  .table-wrapper {
    margin: 1.5em 0;
  }

  h2.heading2 + .table-wrapper,
  h3.heading3 + .table-wrapper,
  h4.heading4 + .table-wrapper,
  h5.heading5 + .table-wrapper,
  h6.heading6 + .table-wrapper {
    margin-top: 0;
  }

  table {
    margin: 0.3em 0;
    font-size: 0.9412em;
  }

  tr:first-child > td,
  tr:first-child > th {
    padding-top: 0;
  }

  tr:last-child > td {
    padding-bottom: 0;
  }

  figure {
    font-size: 0.9412em;
    margin: 2em 0;
  }

  span.footnoteindicator {
    color: var(--default-link-color);
  }

  .est_figure_graphic {
    padding-right: 0;
    float: none;
  }

  .parIndent,
  blockquote {
    font-size: 0.9412em;
  }
}

page-introduction div > .noIndent.parIndent:first-child {
  text-indent: 0 !important;
}

page-introduction {
  /* Headings in intro TOC */
  div#toc-text {

    h1.title,
    h2.heading2,
    h3.heading3,
    h4.heading4,
    h5.heading5 {
      font-weight: normal;
      line-height: 1.125;
    }

    h1, h2, h3, h4, h5, h6, a {
      color: var(--intro-toc-text-color);
    }

    h1.title {
      font-size: 1.1875rem;
      font-weight: 700;
      margin: 1.2em 0 0.6em 0;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    h2.heading2 {
      font-size: 1rem;
      font-weight: 700;
      margin: 1.2em 0 0.6em 0;
    }

    h3.heading3 {
      font-size: 1rem;
      margin: 0.1em 0 0.4em 0;
    }

    h4.heading4 {
      font-size: 1rem;
      margin: 0.1em 0 0.4em 0;
      padding-left: 1.75em;
    }

    h5.heading5 {
      font-size: 0.875rem;
      margin: 0.5em 0 0.457em 0;
      padding-left: 4em;
    }

    span.writer {
      font-size: 0.8125rem;
      font-variant: normal;
      font-weight: normal;
      font-style: normal;
      text-transform: none;
      letter-spacing: normal;
    }

    span.italics {
      font-style: italic;
    }

    a {
      text-decoration: none;
      transition: opacity 0.2s;

      &:hover {
          opacity: 0.6;
      }
    }
  }

  #TOC #toc-text > div > :first-child,
  #toc-close-button + #toc-text :first-child {
    margin-top: 0.125rem;
  }

  /* Headings in intro text */
  div.tei.tei {
    header {
      margin: 4em 0;
    }

    header p {
      text-align: center;
      line-height: 1.35;
      text-indent: 0;
    }

    header p[role="doc-subtitle"] {
      font-size: 1.2942em;
      font-style: italic;
      margin: 0.75em 0;
    }

    header p.writer {
      font-size: 1em;
      margin: 1.75em 0;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    h1.title + p.writer {
      margin: 1em 0;
    }

    header h1.title > span.writer {
      font-size: 0.5556em;
      font-variant: normal;
      font-weight: normal;
    }

    h1.title,
    h2.heading2,
    h3.heading3,
    h4.heading4,
    h5.heading5,
    h6.heading6 {
      font-weight: normal;
      font-style: normal;
      text-align: left;
      line-height: 1.35;
    }

    h1.title {
      font-size: 1.5883em;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      letter-spacing: 0.02em;
    }

    h2.heading2 {
      font-size: 1.353em;
      font-variant: small-caps;
      margin: 1.7em 0 0.85em 0;
    }

    h3.heading3 {
      font-size: 1.2353em;
      font-weight: 600;
      font-style: italic;
      margin: 1.6em 0 0.85em 0;
    }

    h4.heading4 {
      font-size: 1.11765em;
      font-style: italic;
      margin: 1.4em 0 0.875em 0;
    }

    h5.heading5 {
      font-size: 1em;
      font-weight: 600;
      margin: 1.35em 0 0.875em 0;
    }

    h6.heading6 {
      font-size: 0.9412em;
      margin: 1.5em 0 1em 0;
    }

    h2.heading2 > span.writer {
      font-size: 0.6087em;
      font-variant: normal;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    h3.heading3 > span.writer {
      font-size: 0.6667em;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    h2.heading2 + div > h3.heading3,
    h2.heading2 + h3.heading3 {
      margin-top: 1.238em;
    }
  }

}
