/**
 * TEI CORE
 * Necessary core styles.
 */
@use "sass:math";

/*
Base style for the div element that always contains the text.
*/
div.teiContainer {
  font-family: var(--font-stack-tei);
  font-size: $text-fontsize-small;
  line-height: 1.6em;
  max-width: 100%;
  position: relative;
  white-space: normal;
}

/*
Padding below the columns so their height won't end precisely
after the texts.
*/
page-title div.teiContainer,
page-foreword div.teiContainer,
page-introduction div.teiContainer,
reading-text>div.teiContainer,
comments>div.teiContainer,
variants>div.teiContainer,
manuscripts>div.teiContainer,
text-legend>div.teiContainer,
text-metadata>div.teiContainer {
  padding-bottom: 20vh;
}

/* Font sizes. */
.miniFontSize div.tei {
  font-size: $text-fontsize-mini;
}
.tinyFontSize div.tei {
  font-size: $text-fontsize-tiny;
}
.xxxsmallFontSize div.tei {
  font-size: $text-fontsize-xxxsmall;
}
.xxsmallFontSize div.tei {
  font-size: $text-fontsize-xxsmall;
}
.xsmallFontSize div.tei {
  font-size: $text-fontsize-xsmall;
}
.smallFontSize div.tei {
  font-size: $text-fontsize-small;
}
.mediumFontSize div.tei {
  font-size: $text-fontsize-medium;
}
.largeFontSize div.tei {
  font-size: $text-fontsize-large;
}
.xlargeFontSize div.tei {
  font-size: $text-fontsize-xlarge;
}

/* Highlight for search matches. */
div.tei mark {
  background-color: var(--search-match-background-color);
}

/*
Make the red triangle icon (indicates start of lemmas in
reading-texts and scroll-to positions) blink brighter.
*/
@keyframes filter-animation-brightness {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(125%);
  }
  50% {
    filter: brightness(150%);
  }
  75% {
    filter: brightness(125%);
  }
  100% {
    filter: brightness(100%);
  }
}

/*
Size of red triangle icon indicating scroll-to positions.
*/
div.tei span.anchor_lemma img,
div.tei img.inl_ms_arrow {
  display: inline-block;
  width: 0.75em; // default
  height: 0.75em;
}
div.tei span.anchor_lemma img,
div.tei img.inl_ms_arrow {
  animation: filter-animation-brightness 1.5s infinite;
}
.miniFontSize div.tei span.anchor_lemma img,
.miniFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-mini);
  height: math.ceil(0.75 * $text-fontsize-mini);
}
.tinyFontSize div.tei span.anchor_lemma img,
.tinyFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-tiny);
  height: math.ceil(0.75 * $text-fontsize-tiny);
}
.xxxsmallFontSize div.tei span.anchor_lemma img,
.xxxsmallFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-xxxsmall);
  height: math.ceil(0.75 * $text-fontsize-xxxsmall);
}
.xxsmallFontSize div.tei span.anchor_lemma img,
.xxsmallFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-xxsmall);
  height: math.ceil(0.75 * $text-fontsize-xxsmall);
}
.xsmallFontSize div.tei span.anchor_lemma img,
.xsmallFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-xsmall);
  height: math.ceil(0.75 * $text-fontsize-xsmall);
}
.smallFontSize div.tei span.anchor_lemma img,
.smallFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-small);
  height: math.ceil(0.75 * $text-fontsize-small);
}
.mediumFontSize div.tei span.anchor_lemma img,
.mediumFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-medium);
  height: math.ceil(0.75 * $text-fontsize-medium);
}
.largeFontSize div.tei span.anchor_lemma img,
.largeFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-large);
  height: math.ceil(0.75 * $text-fontsize-large);
}
.xlargeFontSize div.tei span.anchor_lemma img,
.xlargeFontSize div.tei img.inl_ms_arrow {
  width: math.ceil(0.75 * $text-fontsize-xlarge);
  height: math.ceil(0.75 * $text-fontsize-xlarge);
}
