services:
  nginx:
    image: docker.io/library/nginx:1.25.4
    depends_on:
      - web
    ports:
      - 2089:80
    restart: unless-stopped
    volumes:
      - browser-static:/static
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  web:
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - "api.sls.fi:172.16.2.136"
      - "granska-api.sls.fi:172.16.2.136"
      - "testa-vonwright.sls.fi:172.16.2.136"
    image: ghcr.io/slsfi/digital-edition-frontend-ng:main
    restart: unless-stopped
    volumes:
      - browser-static:/digital-edition-frontend-ng/dist/app/browser
volumes:
  browser-static:
