@if (flattenedToc.length) {
  <div class="text-changer-wrapper"
        [class.mobile-mode]="mobileMode"
        [class.desktop-mode]="!mobileMode"
  >
    <div class="prev-wrapper">
      @if (currentTocTextIndex > 0) {
        <a class="prev-button"
              [ariaLabel]="mobileMode ? prevLabel : null"
              [routerLink]="flattenedToc[currentTocTextIndex - 1].itemId | collectionPagePath: flattenedToc[currentTocTextIndex - 1].page"
              [queryParams]="flattenedToc[currentTocTextIndex - 1].itemId | collectionPagePositionQueryparam"
        >
          <ion-icon name="arrow-back" [ariaHidden]="true"></ion-icon>
          @if (!mobileMode) {
            <span class="prev-text-name">
              {{flattenedToc[currentTocTextIndex - 1].text}}
            </span>
          }
        </a>
      }
    </div>
    <div class="current-text-name">
      <p>{{flattenedToc[currentTocTextIndex].text}} {{flattenedToc[currentTocTextIndex].text_two || ''}}</p>
    </div>
    <div class="next-wrapper">
      @if (currentTocTextIndex < flattenedToc.length - 1) {
        <a class="next-button"
              [ariaLabel]="mobileMode ? nextLabel : null"
              [routerLink]="flattenedToc[currentTocTextIndex + 1].itemId | collectionPagePath: flattenedToc[currentTocTextIndex + 1].page"
              [queryParams]="flattenedToc[currentTocTextIndex + 1].itemId | collectionPagePositionQueryparam"
        >
          @if (!mobileMode) {
            <span class="next-text-name">
              {{flattenedToc[currentTocTextIndex + 1].text}}
            </span>
          }
          <ion-icon name="arrow-forward" [ariaHidden]="true"></ion-icon>
        </a>
      }
    </div>
  </div>
}
