@if (flattenedToc().length) {
  @let nav = navItems();
  @let prev = nav.prev;
  @let current = nav.current;
  @let next = nav.next;

  <div class="text-changer-wrapper"
        [class.mobile-mode]="mobileMode"
        [class.desktop-mode]="!mobileMode"
  >
    <div class="prev-wrapper">
      @if (prev) {
        <a class="prev-button"
              [ariaLabel]="mobileMode ? prevLabel : null"
              [routerLink]="prev.itemId | collectionPagePath: prev.page"
              [queryParams]="prev.itemId | collectionPagePositionQueryparam"
        >
          <ion-icon name="arrow-back" [ariaHidden]="true"></ion-icon>
          @if (!mobileMode) {
            <span class="prev-text-name">
              {{prev.text}}
            </span>
          }
        </a>
      }
    </div>
    <div class="current-text-name">
      @if (current) {
        <p>{{current.text}} {{current.text_two || ''}}</p>
      }
    </div>
    <div class="next-wrapper">
      @if (next) {
        <a class="next-button"
              [ariaLabel]="mobileMode ? nextLabel : null"
              [routerLink]="next.itemId | collectionPagePath: next.page"
              [queryParams]="next.itemId | collectionPagePositionQueryparam"
        >
          @if (!mobileMode) {
            <span class="next-text-name">
              {{next.text}}
            </span>
          }
          <ion-icon name="arrow-forward" [ariaHidden]="true"></ion-icon>
        </a>
      }
    </div>
  </div>
}
