@let list = manuscripts();

@if (list === null) {
  <ion-spinner class="loading" name="crescent"></ion-spinner>
} @else {
  @let text = html();
  @let msList = list ?? [];
  @let msCount = msList.length;
  @let viewOptions = viewOptionsService.show();

  @if (text && msCount && (showTitle || showOpenLegendButton || showNormalizedToggle || msCount > 1)) {
    <div class="text-select-wrapper">
      @if (showTitle) {
        <div class="tsw-text-title" [innerHTML]="selectedManuscript()?.name"></div>
      }
      @if (msCount > 1 || showOpenLegendButton) {
        <div class="flex-buttons">
          @if (msCount > 1) {
            <ion-button class="custom-button"
                  (click)="selectManuscript()"
                  i18n="@@Manuscripts.ChangeManuscript"
            >Byt manuskript</ion-button>
          }
          @if (showOpenLegendButton) {
            <ion-button class="circular-icon-button align-right"
                  fill="outline"
                  slot="icon-only"
                  (click)="openNewLegend($event)"
                  title="Teckenförklaringar"
                  i18n-title="@@Legend.Legend"
            >
              <ion-icon name="help-outline"></ion-icon>
            </ion-button>
          }
        </div>
      }
      @if (showNormalizedToggle) {
        <div class="show-normalized-toggle">
          <ion-toggle justify="space-between"
                (ionChange)="toggleNormalizedManuscript()"
                [enableOnOffLabels]="true"
                i18n="@@Manuscripts.ShowNormalized"
          >Visa ändringar inarbetade</ion-toggle>
        </div>
      }
    </div>
  }

  <div class="tei teiContainer teiManuscript"
        [class.show_personInfo]="viewOptions.personInfo"
        [class.show_placeInfo]="viewOptions.placeInfo"
        [class.show_workInfo]="viewOptions.workInfo"
        [class.show_abbreviations]="viewOptions.abbreviations"
        [class.show_pageBreakOriginal]="viewOptions.pageBreakOriginal"
        [attr.lang]="textLanguage() || null"
        [innerHTML]="text | trustHtml"
  ></div>
}
