<h2 id="top-menu-label" class="screen-reader-only" i18n="@@TopMenu.AriaLabel">Primär meny</h2>
<ul role="menubar">
  <li class="main-menu-button" role="menuitem">
    <button (click)="toggleSideMenu($event)"
          type="button"
          aria-haspopup="menu"
          [attr.aria-expanded]="showSideNav"
          aria-controls="side-navigation"
    >
      <ion-icon [class.visuallyhidden]="showSideNav" name="menu-sharp"></ion-icon>
      <ion-icon [class.visuallyhidden]="!showSideNav" name="close-sharp"></ion-icon>
      <span class="side-title" i18n="@@TopMenu.Menu">Meny</span>
    </button>
  </li>
  <li [class.visuallyhidden]="!showTopContentButton" class="content-button" role="menuitem">
    <a [routerLink]="['/content']">
      <ion-icon name="library-sharp"></ion-icon>
      <span class="side-title" i18n="@@TopMenu.Content">Innehåll</span>
    </a>
  </li>
  @if (showTopAboutButton) {
    <li class="about-button" role="menuitem">
      <a [routerLink]="['/about', firstAboutPageId]">
        <ion-icon name="information-circle-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.About">Om utgåvan</span>
      </a>
    </li>
  }
  @if (showTopSearchButton) {
    <li class="search-button" role="menuitem">
      <a [routerLink]="['/search']">
        <ion-icon name="search-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Search">Sök</span>
      </a>
    </li>
  }
  @if (showLanguageButton && currentLanguageLabel && languages.length > 1) {
    <li class="language-menu-button" role="menuitem">
      <button (click)="toggleLanguageMenu($event)"
            type="button"
            id="language-menu-toggle-button"
            [attr.aria-expanded]="languageMenuOpen"
            aria-haspopup="menu"
            aria-controls="language-menu"
            aria-label="Välj språk. Nuvarande språk:"
            i18n-aria-label="@@TopMenu.ChooseLanguage"
      >
        <ion-icon name="language-sharp"></ion-icon>
        <span class="current-language"><span class="current-language-label">{{currentLanguageLabel}} </span>({{activeLocale}})</span>
        <ion-icon class="toggle-language-menu-icon" [class.hide-icon]="languageMenuOpen" name="chevron-down-sharp" aria-hidden="true"></ion-icon>
        <ion-icon class="toggle-language-menu-icon" [class.hide-icon]="!languageMenuOpen" name="chevron-up-sharp" aria-hidden="true"></ion-icon>
      </button>
      <ul id="language-menu" role="menu" [class.open]="languageMenuOpen" [ngStyle]="{'min-width': languageMenuWidth + 'px'}">
        @for (lang of languages; track lang.code) {
          @if (lang.code !== activeLocale) {
            <li lang="{{lang.code}}" role="menuitem">
              <a href="{{_window.location.origin + '/' + lang.code + currentRouterUrl}}">{{lang.label}} ({{lang.code}})</a>
            </li>
          }
        }
      </ul>
    </li>
  }
</ul>
<div class="site-title"><a [routerLink]="['/']" i18n="@@Site.Title">Webbplatsens titel</a></div>
