// Import general styles for authentication-related pages
@use "../../../theme/common/auth.scss";

form .password-requirements {
  font-size: 1rem;
  margin: -0.3rem 0 0 1rem;

  p {
    margin: 0;
  }

  ul {
    margin: 0 0 0.5em 0;
  }

  + auth-status-message {
    margin-top: -0.5em;
  }
}
