@if (!text) {
  <ion-spinner class="loading" name="crescent"></ion-spinner>
}
<div class="tei teiContainer"
      [class.show_comments]="viewOptionsService.show.comments"
      [class.show_personInfo]="viewOptionsService.show.personInfo"
      [class.show_workInfo]="viewOptionsService.show.workInfo"
      [class.show_abbreviations]="viewOptionsService.show.abbreviations"
      [class.show_paragraphNumbering]="viewOptionsService.show.paragraphNumbering"
>
  <div [innerHTML]="text | trustHtml"></div>
  @if (letter) {
    <div class="ms">
      <h3 i18n="@@Commentary.Manuscript.Title">Manuskriptbeskrivning</h3>
      <ul>
        <li><ng-container i18n="@@Commentary.Manuscript.LegacyId">Brevsignum</ng-container>: {{letter['legacy_id']}}</li>
        <li><ng-container i18n="@@Commentary.Manuscript.Sender">Avsändare</ng-container>: {{sender}}</li>
        <li><ng-container i18n="@@Commentary.Manuscript.Receiver">Mottagare</ng-container>: {{receiver}}</li>
        <li><ng-container i18n="@@Commentary.Manuscript.Archive">Arkiv</ng-container>: {{letter['source_archive']}}</li>
        <li><ng-container i18n="@@Commentary.Manuscript.Collection">Samling, signum</ng-container>: {{letter['source_collection_id']}}</li>
      </ul>
      <ul>
        @if (letter['material_type']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Type">Form</ng-container>: {{letter['material_type']}}</li>
        }
        @if (letter['material_source']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Status">Status</ng-container>: {{letter['material_source']}}</li>
        }
        @if (letter['material_format']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Format">Format</ng-container>: {{letter['material_format']}}</li>
        }
        @if (letter['leaf_count']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Leafs">Lägg</ng-container>: {{letter['leaf_count']}}</li>
        }
        @if (letter['sheet_count']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Sheets">Antal blad</ng-container>: {{letter['sheet_count']}}</li>
        }
        @if (letter['page_count']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Pages">Sidor brevtext</ng-container>: {{letter['page_count']}}</li>
        }
        @if (letter['material_color']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Color">Färg</ng-container>: {{letter['material_color']}}</li>
        }
        @if (letter['material_quality']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Quality">Kvalitet</ng-container>: {{letter['material_quality']}}</li>
        }
        @if (letter['material_pattern']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Pattern">Mönster</ng-container>: {{letter['material_pattern']}}</li>
        }
        @if (letter['material_state']) {
          <li><ng-container i18n="@@Commentary.Manuscript.State">Tillstånd</ng-container>: {{letter['material_state']}}</li>
        }
        @if (letter['material']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Material">Skrivmaterial</ng-container>: {{letter['material']}}</li>
        }
        @if (letter['material_notes']) {
          <li><ng-container i18n="@@Commentary.Manuscript.Other">Övrigt</ng-container>: {{letter['material_notes']}}</li>
        }
      </ul>
    </div>
  }
</div>
