/**
 * TEI TITLE - v2
 * Styles for title pages.
 */

page-title {
  div.tei {
    hgroup {
      margin: 2.5em 0 7em 0;
    }

    .title {
      letter-spacing: 0.02em;
    }

    .title,
    .subtitle,
    p[role="doc-subtitle"],
    .collectiontitle {
      font-size: 2.2353em;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
    }

    .subtitle,
    p[role="doc-subtitle"] {
      font-size: 1.4706em;
      font-style: normal;
      letter-spacing: 0.02em;
      margin-top: 1em;
    }

    .collectiontitle {
      font-size: 1.8824em;
      margin-top: 0.25em;
      margin-bottom: 1em;
      letter-spacing: 0.1em;
      text-indent: 0;
    }

    .seriestitle {
      margin-top: 2.5rem;
      margin-bottom: 1em;
      font-size: 1.2942em;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
      text-indent: 0;
    }

    .chapter {
      font-size: 1.2942em;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
    }

    .byline {
      font-size: 1.2942em;
      margin-bottom: 1em;
      text-align: center;

      .smaller {
        font-size: 0.7727em;
      }
    }
  }
}
