@let fromYear = from();
@let toYear = to();

<div class="year-input-row">
  <span class="current-year-range">
    @if (fromYear) {
      <span>{{ fromYear }}</span>
    }</span><span class="dash">–</span><span class="current-year-range">
      @if (toYear) {
        <span>{{ toYear }}</span>
    }</span>
  <ion-button fill="clear"
        size="small"
        (click)="reset()"
        title="Nollställ"
        i18n-title="@@DateHistogram.Clear"
  >
    <ion-icon slot="icon-only"
          name="close"
          aria-label="Nollställ"
          i18n-aria-label="@@DateHistogram.Clear"
    ></ion-icon>
  </ion-button>
</div>

<div class="histogram-wrapper">
  <div class="diagram">
    @for (year of paddedYearsAll(); track year.key_as_string) {
      <div class="year" [ngClass]="{'yearIsDecade': isDecade(year)}" (click)="selectYear(year)">
        <div class="yearBar" [ngClass]="{'yearBarInRange': isYearInRange(year)}" [style.width]="getYearRelativeToMax(year)"></div>
        <div class="yearDetails">{{ year.key_as_string }}: {{ year.doc_count_current }}</div>
      </div>
      @if (isDecade(year)) {
        <div class="decadeMarker">
          <div class="decade">{{ year.key_as_string }}</div>
        </div>
      }
    }
  </div>
  <div class="doc-count-line">
    <span>0</span>
    <span>{{ max() }}</span>
  </div>
</div>
