@let metadata = publicationMetadata();

<div class="tei teiContainer">
  @if (error()) {
    <p class="noIndent" i18n="@@Metadata.None">Ingen metadata tillgänglig.</p>
  } @else if (metadata === null) {
    <ion-spinner class="loading" name="crescent"></ion-spinner>
  } @else {
    <h2 i18n="@@Metadata.Metadata">Metadata</h2>
    <dl>
      @if (metadata.publication_title) {
        <div>
          <dt i18n="@@Metadata.PublicationTitle">Dokumentets titel</dt>
          <dd [innerHTML]="metadata.publication_title"></dd>
        </div>
      }
      @if (metadata.publication_subtitle) {
        <div>
          <dt i18n="@@Metadata.PublicationSubtitle">Undertitel</dt>
          <dd [innerHTML]="metadata.publication_subtitle"></dd>
        </div>
      }
      @if (metadata.published_by) {
        <div>
          <dt i18n="@@Metadata.PublishedBy">Publicerat i</dt>
          <dd [innerHTML]="metadata.published_by"></dd>
        </div>
      }
      @if (metadata.document_type) {
        <div>
          <dt i18n="@@Metadata.DocumentType">Dokumenttyp</dt>
          <dd>{{metadata.document_type}}</dd>
        </div>
      }
      @if (metadata.original_language) {
        <div>
          <dt i18n="@@Metadata.OriginalLanguage">Originalspråk</dt>
          <dd>{{metadata.original_language}}</dd>
        </div>
      }
      @if (metadata.publication_date) {
        <div>
          <dt i18n="@@Metadata.PublicationDate">Datering</dt>
          <dd>{{metadata.publication_date}}</dd>
        </div>
      }
      @if (metadata.author.length) {
        <div>
          <dt>
            @if (metadata.author.length < 2) {
              <ng-container i18n="@@Metadata.Author">Författare</ng-container>
            }
            @if (metadata.author.length > 1) {
              <ng-container i18n="@@Metadata.Authors">Författare</ng-container>
            }
          </dt>
          <dd>
            @for (a of metadata.author; track $index; let isLast = $last) {
              {{a}}
              @if (!isLast) {
                <br>
              }
            }
          </dd>
        </div>
      }
      @if (metadata.sender.length) {
        <div>
          <dt>
            @if (metadata.sender.length < 2) {
              <ng-container i18n="@@Metadata.Sender">Avsändare</ng-container>
            }
            @if (metadata.sender.length > 1) {
              <ng-container i18n="@@Metadata.Senders">Avsändare</ng-container>
            }
          </dt>
          <dd>
            @for (s of metadata.sender; track $index; let isLast = $last) {
              {{s}}
              @if (!isLast) {
                <br>
              }
            }
          </dd>
        </div>
      }
      @if (metadata.recipient.length) {
        <div>
          <dt>
            @if (metadata.recipient.length < 2) {
              <ng-container i18n="@@Metadata.Recipient">Mottagare</ng-container>
            }
            @if (metadata.recipient.length > 1) {
              <ng-container i18n="@@Metadata.Recipients">Mottagare</ng-container>
            }
          </dt>
          <dd>
            @for (r of metadata.recipient; track $index; let isLastRecipient = $last) {
              {{r}}
              @if (!isLastRecipient) {
                <br>
              }
            }
          </dd>
        </div>
      }
      @if (metadata.translations.length) {
        <div>
          <dt>
            @if (metadata.translations.length < 2) {
              <ng-container i18n="@@Metadata.Translation">Översättning</ng-container>
            }
            @if (metadata.translations.length > 1) {
              <ng-container i18n="@@Metadata.Translations">Översättningar</ng-container>
            }
          </dt>
          <dd>
            @for (t of metadata.translations; track $index; let isLastTranslation = $last) {
              @if (t.translators && t.translators.length) {
                @for (tr of t.translators; track $index; let isLastTranslator = $last) {
                  {{tr}} ({{t.translated_into}})@if (!isLastTranslator) {
                  <br>
                  }
                }
              }
              @if (!isLastTranslation) {
                <br>
              }
            }
          </dd>
        </div>
      }
    </dl>
    @if (metadata.facsimiles.length) {
      <h3>
        @if (metadata.facsimiles.length < 2) {
          <ng-container i18n="@@Metadata.Facsimile">Faksimil</ng-container>
        }
        @if (metadata.facsimiles.length > 1) {
          <ng-container i18n="@@Metadata.Facsimiles">Faksimil</ng-container>
        }
      </h3>
      @for (f of metadata.facsimiles; track $index) {
        <dl class="dl-group">
          @if (f.facsimile_title && (f.facsimile_title !== metadata.publication_title || metadata.facsimiles.length > 1)) {
            <div>
              <dt i18n="@@Metadata.FacsimileTitle">Faksimilets titel</dt>
              <dd [innerHTML]="f.facsimile_title"></dd>
            </div>
          }
          @if (f.archive_info) {
            <div>
              <dt i18n="@@Metadata.ArchiveInfo">Arkivkälla för faksimilet</dt>
              <dd>{{f.archive_info}}</dd>
            </div>
          }
          @if (f.number_of_images) {
            <div>
              <dt i18n="@@Metadata.NumberOfImages">Antal bilder</dt>
              <dd>{{f.number_of_images}}</dd>
            </div>
          }
          @if (f.image_number_info) {
            <div>
              <dt i18n="@@Metadata.ImageNumberInfo">Bildernas nummer i digitalarkivet</dt>
              <dd>{{f.image_number_info}}</dd>
            </div>
          }
          @if (f.external_url) {
            <div>
              <dt i18n="@@Metadata.ExternalUrl">Extern länk för faksimilet</dt>
              <dd><a [href]="f.external_url">{{f.external_url}}</a></dd>
            </div>
          }
        </dl>
      }
    }
  }
</div>
