<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@IndexFilter.Filters">Avgränsningar</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" fill="clear" (click)="cancel()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (showLoading) {
    <ion-spinner class="loading" name="crescent"></ion-spinner>
  }

  @if (!showLoading) {
    @if (shouldFilterYear) {
      <ion-list>
        <ion-list-header>
          <ion-label i18n="@@IndexFilter.Born">Födda</ion-label>
        </ion-list-header>
        <div class="born-between">
          <ion-input label="Tidigast år" i18n-label="@@IndexFilter.EarliestYear" label-placement="floating" fill="outline" type="number" min="1" class="fromYear" [(ngModel)]="filterYearMin"></ion-input>
          <ion-input label="Senast år" i18n-label="@@IndexFilter.LatestYear" label-placement="floating" fill="outline" type="number" min="1" class="toYear" [(ngModel)]="filterYearMax"></ion-input>
        </div>
      </ion-list>
    }
    @if (filterPersonTypes?.length) {
      <ion-list>
        <ion-list-header>
          <ion-label i18n="@@IndexFilter.PersonTypes">Personkategorier</ion-label>
        </ion-list-header>
        @for (filterPT of filterPersonTypes; track $index) {
          <ion-item>
            <ion-toggle justify="space-between" [enableOnOffLabels]="true" [(ngModel)]="filterPT.selected">{{filterPT.name}}</ion-toggle>
          </ion-item>
        }
      </ion-list>
    }
    @if (filterCategoryTypes?.length) {
      <ion-list>
        <ion-list-header>
          <ion-label i18n="@@IndexFilter.KeywordTypes">Ämneskategorier</ion-label>
        </ion-list-header>
        @for (filterCT of filterCategoryTypes; track $index) {
          <ion-item>
            <ion-toggle justify="space-between" [enableOnOffLabels]="true" [(ngModel)]="filterCT.selected">{{filterCT.name}}</ion-toggle>
          </ion-item>
        }
      </ion-list>
    }
    @if (filterPlaceCountries?.length) {
      <ion-list>
        <ion-list-header>
          <ion-label i18n="@@IndexFilter.Countries">Länder</ion-label>
        </ion-list-header>
        @for (filterC of filterPlaceCountries; track $index) {
          <ion-item>
            <ion-toggle justify="space-between" [enableOnOffLabels]="true" [(ngModel)]="filterC.selected">{{filterC.name}}</ion-toggle>
          </ion-item>
        }
      </ion-list>
    }
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="custom-outline-button" fill="outline" (click)="cancel()" i18n="@@BasicActions.Cancel">Avbryt</ion-button>
      @if (!showLoading) {
        <ion-button class="custom-button" (click)="apply()" i18n="@@IndexFilter.Apply">Verkställ</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-footer>