/* -- General styles for elements in markdown. -- */
.markdown {
  font-size: 1.125rem;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1, h2, h3, h4 {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.625rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  h1:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 1.4375rem;
    margin-top: 1.8rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  h2 + h3 {
    margin-top: 1rem;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: normal;
    font-style: italic;
    margin-top: 1.25rem;
  }

  p {
    line-height: 1.625rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.1);
  }

  td {
    padding: 0.5em;
    line-height: 1.4;
    vertical-align: top;
  }

  figure {
    margin: 1.75em 0;
  }

  img[src$="#align-left"] {
    float: left;
    margin: 0 1rem 1rem 0;
  }

  img[src$="#align-right"] {
    float: right;
    margin: 0 0 1rem 1rem;
  }

  img[src$="#align-center"] {
    display: block;
    margin: 1rem auto;
  }
}

/* --- Style block: Styles for the markdown content in the legend component. --- */
.markdown.legend-markdown-content {
  h2, h2:first-child {
    font-size: 1.25em;
    font-variant: small-caps;
    font-weight: normal;
    margin: 0 0 0.5em;
  }

  h3 {
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    margin: 2em 0 0.5em;
  }

  h4 {
    font-size: 1.125em;
    font-style: italic;
    margin: 2em 0 0.5em;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 2em 0 0.5em;
  }

  h6 {
    font-size: 1em;
    font-style: italic;
    margin: 2em 0 0.5em;
  }

  table {
    margin: 1em 0;
  }

  table th {
    text-align: left;
  }

  table td {
    line-height: 1.25em;
  }

  table.first-col-highlight {
    td:first-child {
      font-weight: bold;
    }
  }

  span.extVariantsTrigger {
    cursor: default;
  }
}
/* --- */

page-elastic-search .markdown {
  ul {
    list-style-type: disc;
  }

  details summary {
    cursor: pointer;
    color: var(--default-link-color);
  }

  details summary::marker {
    color: initial;
  }
}
/* --- */

/* --- Style block: Styles for markdown content where first and last children should not have top/bottom margins. --- */
page-not-found .markdown,
modal-download-texts .markdown {
	*:first-child {
		margin-top: 0;
	}

  *:last-child {
		margin-bottom: 0;
	}
}
/* --- */
