<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    @if (!mobileMode) {
      <text-changer slot="start"
            [parentPageType]="'foreword'"
            [ionViewActive]="_activeComponent"
            class="text-changer-desktop-mode"
      ></text-changer>
    }

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      @if (showURNButton) {
        <ion-button (click)="showReference()">
          <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
          <span class="side-title" i18n="@@Reference.Refer">Hänvisa</span>
        </ion-button>
      }
      @if (showViewOptionsButton) {
        <ion-button (click)="showViewOptionsPopover($event)">
          <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
          <span class="side-title" i18n="@@ViewOptions.Settings">Inställningar</span>
        </ion-button>
      }
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="collection-ion-content"
      [class.mobile-mode-content]="mobileMode"
      [scrollX]="false"
      [scrollY]="false"
>
  <article class="scroll-content-container"
        [class.xsmallFontSize]="textsize == TextsizeEnum.XSmall"
        [class.smallFontSize]="textsize == TextsizeEnum.Small"
        [class.mediumFontSize]="textsize == TextsizeEnum.Medium"
        [class.largeFontSize]="textsize == TextsizeEnum.Large"
        [class.xlargeFontSize]="textsize == TextsizeEnum.XLarge"
  >
    @if ((text$ | async); as text) {
      <div class="tei teiContainer"
            [innerHTML]="text | trustHtml"
      ></div>
    } @else {
      <ion-spinner class="loading" name="crescent"></ion-spinner>
    }
  </article>
</ion-content>

@if (mobileMode) {
  <text-changer
        [parentPageType]="'foreword'"
        [ionViewActive]="_activeComponent"
        class="text-changer-mobile-mode"
  ></text-changer>
}
