<ion-app>

  <header>
    <nav class="top-navigation" aria-labelledby="top-menu-label">
      <top-menu (sideNavClick)="toggleSideNav()" [showSideNav]="showSideNav" [currentRouterUrl]="currentRouterUrl"></top-menu>
    </nav>
    <ion-progress-bar *ngIf="enableRouterLoadingBar" [class.showLoadingBar]="!loadingBarHidden" type="indeterminate" mode="ios"></ion-progress-bar>
  </header>
  <div class="content-container">
    <nav id="side-navigation"
          class="side-navigation"
          [class.visuallyhidden]="!showSideNav"
          [attr.aria-labelledby]="showCollectionSideMenu ? 'side-menu-collection-title' : 'main-side-menu-label'"
    >
      <main-side-menu *ngIf="mountMainSideMenu"
            [class.visuallyhidden]="showCollectionSideMenu"
            [urlSegments]="currentUrlSegments"
      ></main-side-menu>

      <ng-container *ngIf="showCollectionSideMenu && !enableCollectionSideMenuSSR">
        <!--
          Server-side rendering of the collection side menu is disabled in the config.
          Loading the collection side menu is deferred to the browser since it's a
          very CPU-intensive process for collections with hundreds or thousands of
          items. On the server, static prerendered versions of the collection menus
          are loaded if they have been genereated by a pre-build script. This way all
          items in a collection are crawlable by robots.
          https://angular.io/guide/defer
        -->
        @defer {
          <collection-side-menu
                [collectionID]="collectionID"
                [initialQueryParams]="collectionSideMenuInitialQueryParams"
                [initialUrlSegments]="collectionSideMenuInitialUrlSegments"
                [sideMenuToggled]="showSideNav"
          ></collection-side-menu>
        } @placeholder {
          <static-html [type]="'collection-toc'" [id]="collectionID"></static-html>
        } @loading (minimum 1s) {
          <ion-spinner class="loading" name="crescent"></ion-spinner>
        }
      </ng-container>
      <ng-container *ngIf="showCollectionSideMenu && enableCollectionSideMenuSSR">
        <collection-side-menu
              [collectionID]="collectionID"
              [initialQueryParams]="collectionSideMenuInitialQueryParams"
              [initialUrlSegments]="collectionSideMenuInitialUrlSegments"
              [sideMenuToggled]="showSideNav"
        ></collection-side-menu>
      </ng-container>
    </nav>
    <div class="main-content">
      <ion-router-outlet [animated]="false" (activate)="hideLoadingBar(true)" (deactivate)="hideLoadingBar(false)"></ion-router-outlet>
      <div *ngIf="mobileMode && showSideNav" class="backdrop-dismiss" (click)="toggleSideNav()"></div>
    </div>
  </div>

</ion-app>
