@let path = imgPath();
@let data = imgMetadata();

<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Illustrations.Illustration">Illustration</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-inner-wrapper">
    @if (path) {
      <button class="illustration-thumb"
            (click)="zoomImage()"
            aria-haspopup="dialog"
            aria-label="Zooma in"
            i18n-aria-label="@@Facsimiles.ZoomIn"
      >
        <img [alt]="data?.media_title_translation || 'Illustration'" [src]="path">
      </button>
    }
    @if (data) {
      <div class="illustration-metadata">
        @if (data?.full_name || data?.media_title_translation) {
          <p><b>@if (data?.full_name) {
            {{data?.full_name}}
            }@if (data?.full_name && data?.media_title_translation) {, }@if (data?.media_title_translation) {
            <i>{{data?.media_title_translation}}</i>
          }</b></p>
        }
        @if (data?.media_art_technique_translation) {
          <p>{{data?.media_art_technique_translation}}</p>
        }
        @if (data?.media_collection_title_translation) {
          <p>{{data?.media_collection_title_translation}}</p>
        }
        @if (data?.art_location) {
          <p>{{data?.art_location}}</p>
        }
        @if (data?.media_collection_id) {
          <p class="media-collection-link">
            <a [routerLink]="['/media-collection', data?.media_collection_id]">
              <ion-icon name="images" aria-hidden="true"></ion-icon> <ng-container i18n="@@Illustrations.OpenMediaCollection">Öppna bildbanken</ng-container>
            </a>
          </p>
        }
      </div>
    }
  </div>
</ion-content>
