<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Illustrations.Illustration">Illustration</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-inner-wrapper">
    <button *ngIf="imgPath"
          class="illustration-thumb"
          (click)="zoomImage()"
          aria-haspopup="dialog"
          aria-label="Zooma in"
          i18n-aria-label="@@Facsimiles.ZoomIn"
    >
      <img [alt]="imgMetadata?.media_title_translation || 'Illustration'" [src]="imgPath">
    </button>
    <div *ngIf="imgMetadata" class="illustration-metadata">
      <p *ngIf="imgMetadata.full_name || imgMetadata.media_title_translation"><b><ng-container *ngIf="imgMetadata.full_name">{{imgMetadata.full_name}}</ng-container><ng-container *ngIf="imgMetadata.full_name && imgMetadata.media_title_translation">, </ng-container><i *ngIf="imgMetadata.media_title_translation">{{imgMetadata.media_title_translation}}</i></b></p>
      <p *ngIf="imgMetadata.media_art_technique_translation">{{imgMetadata.media_art_technique_translation}}</p>
      <p *ngIf="imgMetadata.media_collection_title_translation">{{imgMetadata.media_collection_title_translation}}</p>
      <p *ngIf="imgMetadata.art_location">{{imgMetadata.art_location}}</p>
      <p class="media-collection-link" *ngIf="imgMetadata.media_collection_id">
        <a [routerLink]="['/media-collection', imgMetadata.media_collection_id]">
          <ion-icon name="images" aria-hidden="true"></ion-icon> <ng-container i18n="@@Illustrations.OpenMediaCollection">Öppna bildbanken</ng-container>
        </a>
      </p>
    </div>
  </div>
</ion-content>
