@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-Regular.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-Regular.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-Italic.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-Italic.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-Bold.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-Bold.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-Bold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-BoldItalic.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-BoldItalic.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-SemiBold.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-SemiBold.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-SemiBoldItalic.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-SemiBoldItalic.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-Light.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-Light.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-Light.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Inter";
    src:    url('../../assets/fonts/Inter/woff2/Inter-LightItalic.woff2') format('woff2'),
            url('../../assets/fonts/Inter/woff/Inter-LightItalic.woff') format('woff'),
            url('../../assets/fonts/Inter/ttf/Inter-LightItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}
