@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-Regular-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-Regular-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-Regular-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-Italic-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-Italic-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-Italic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-Bold-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-Bold-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-Bold-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-BoldItalic-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-BoldItalic-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-Medium-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-Medium-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-Medium-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-MediumItalic-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-MediumItalic-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-MediumItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-Light-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-Light-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-Light-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src:    url('../../assets/fonts/Roboto/woff2/Roboto-LightItalic-webfont.woff2') format('woff2'),
            url('../../assets/fonts/Roboto/woff/Roboto-LightItalic-webfont.woff') format('woff'),
            url('../../assets/fonts/Roboto/ttf/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}
