<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Reference.Reference">Källhänvisning</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" fill="clear" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-inner-wrapper">
    @if (thisPageTranslation) {
      <h2 i18n="@@Reference.ReferToThisPage">Hänvisa till denna sida</h2>
    }
    <div class="modal-inner-box">
      @if (permaLinkTranslation && referenceData?.urn) {
        <h3><ng-container i18n="@@Reference.Permalink">Beständig webbadress</ng-container>:</h3>
      }
      @if (referenceData?.urn) {
        <p class="urn"><a target="_blank" [href]="urnResolverUrl + referenceData.urn">{{urnResolverUrl + referenceData.urn}}</a></p>
      } @else {
        <p class="urn" i18n="@@Reference.None">Sidan saknar beständig webbadress</p>
      }

      @if (referenceData?.reference_text) {
        @if (origin === 'page-title') {
          <h3><ng-container i18n="@@Reference.ReferToCollection">Hänvisa till denna delutgåva</ng-container>:</h3>
        } @else if (origin === 'page-foreword') {
          <h3><ng-container i18n="@@Reference.ReferToForeword">Hänvisa till detta förord</ng-container>:</h3>
        } @else if (origin === 'page-introduction') {
          <h3><ng-container i18n="@@Reference.ReferToIntroduction">Hänvisa till denna inledning</ng-container>:</h3>
        } @else if (origin === 'page-text') {
          <h3><ng-container i18n="@@Reference.ReferToReadingText">Hänvisa till denna lästext</ng-container>:</h3>
        } @else if (origin === 'page-ebook') {
          <h3><ng-container i18n="@@Reference.ReferToEbook">Hänvisa till denna text</ng-container>:</h3>
        } @else if (origin === 'media-collection') {
          <h3><ng-container i18n="@@Reference.ReferToMediaCollection">Hänvisa till denna bildsamling</ng-container>:</h3>
        } @else if (origin === 'top-menu') {
          <h3><ng-container i18n="@@Reference.ReferToEdition">Hänvisa till denna webbutgåva</ng-container>:</h3>
        }
        <p [innerHTML]="referenceData.reference_text + (referenceData.urn ? ', ' + urnResolverUrl + referenceData.urn : currentUrl ? ', ' + currentUrl : '')"></p>
      }

      @if (referenceData?.intro_reference_text && origin !== 'page-introduction') {
        <h3><ng-container i18n="@@Reference.ReferToIntroduction">Hänvisa till denna inledning</ng-container>:</h3>
        <p [innerHTML]="referenceData.intro_reference_text"></p>
      }
    </div>
  </div>
</ion-content>
