h1.page-title {
    font-size: 1.625rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
    text-transform: uppercase;
}

.info.markdown {
    margin-bottom: 2rem;
    max-width: 800px;
    width: 100%;
}
