<ion-content>

  <h1 class="page-title">
    @if (this.indexType === 'persons') {
      <ng-container i18n="@@MainSideMenu.IndexPersons">Personregister</ng-container>
    } @else if (this.indexType === 'places') {
      <ng-container i18n="@@MainSideMenu.IndexPlaces">Ortregister</ng-container>
    } @else if (this.indexType === 'keywords') {
      <ng-container i18n="@@MainSideMenu.IndexKeywords">Ämnesord</ng-container>
    } @else if (this.indexType === 'works') {
      <ng-container i18n="@@MainSideMenu.IndexWorks">Verkregister</ng-container>
    }
  </h1>

  @if ((mdContent$ | async); as mdContent) {
    <div class="info markdown" [innerHTML]="mdContent | trustHtml"></div>
  }

  <div class="index-container">
    <div class="index-data">
      <div class="search-row">
        <ion-searchbar class="custom-searchbar"
              placeholder="Sök ..."
              i18n-placeholder="@@Index.SearchPlaceholder"
              [(ngModel)]="searchText"
              [debounce]="500"
              (ionInput)="searchData()"
        ></ion-searchbar>

        @if (showFilter) {
          <ion-button fill="outline" class="custom-outline-button filter-button" (click)="openFilterModal()">
            <ion-icon slot="start" name="filter-outline"></ion-icon>
            <ng-container i18n="@@Index.Filter">Avgränsa</ng-container>
          </ion-button>
        }
      </div>

      @if (filters?.isEmpty !== undefined && filters?.isEmpty === false) {
        <div class="active-filters-row">
          <p>
            <span class="active-filters-label"><ng-container i18n="@@Index.ActiveFilters">Aktiva avgränsningar</ng-container>: </span>
            @if (filters.filterPersonTypes && filters.filterPersonTypes.length > 0) {
              @for (fpt of filters.filterPersonTypes; track fpt.name; let i = $index) {
                <span class="active-person-type">{{fpt.name}}</span>@if (i < filters.filterPersonTypes.length - 1) {, }
              }
            }@if (filters.filterPersonTypes && filters.filterPersonTypes.length > 0 && (filters.filterYearMin || filters.filterYearMax)) {, }
            @if (filters.filterYearMin || filters.filterYearMax) {
              <span class="active-filter-year-heading"><ng-container i18n="@@Index.Born">Födda</ng-container> </span>@if (filters.filterYearMin) {<span>{{filters.filterYearMin}}</span>}–@if (filters.filterYearMax) {<span>{{filters.filterYearMax}}</span>}
            }
            @if (filters.filterPlaceCountries && filters.filterPlaceCountries.length > 0) {
              @for (fpc of filters.filterPlaceCountries; track fpc.name; let i = $index) {
                <span class="active-category-type">{{fpc.name}}</span>@if (i < filters.filterPlaceCountries.length - 1) {, }
              }
            }
            @if (filters.filterCategoryTypes && filters.filterCategoryTypes.length > 0) {
              @for (fct of filters.filterCategoryTypes; track fct.name; let i = $index) {
                <span class="active-category-type">{{fct.name}}</span>@if (i < filters.filterCategoryTypes.length - 1) {, }
              }
            }
          </p>
          <ion-button class="close" fill="clear" (click)="clearFilters()" title="Ta bort aktiva avgränsningar" i18n-title="@@Index.ClearFilters">
            <ion-icon name="close" slot="icon-only" aria-label="Ta bort aktiva avgränsningar" i18n-aria-label="@@Index.ClearFilters"></ion-icon>
          </ion-button>
        </div>
      }

      <div class="data-row" [class.no-groupings]="indexDatabase !== 'elastic'">
        @if (data.length > 0) {
          <p class="shown-records"><ng-container i18n="@@Index.ShownRecords">Visade poster</ng-container>: {{data.length}}</p>
        }
        <ol>
          @for (item of data; track item.id) {
            <li>
              @if (item.firstOfItsKind) {
                <h2>{{item.firstOfItsKind}}</h2>
              }
              @if (indexType === 'persons' && (item.sort_by_name?.length > 0 || item.name_for_list?.length > 0)) {
                <a aria-haspopup="dialog"
                      rel="nofollow"
                      [routerLink]="[]"
                      [queryParams]="{ id: item.id }"
                      [queryParamsHandling]="'merge'"
                      [relativeTo]="route"
                      [replaceUrl]="true"
                >
                  @if (indexDatabase === 'elastic' && item.full_name) {
                    {{item.full_name}} @if (item.date_born || item.date_deceased) {<span [innerHTML]="item.year_born_deceased"></span>}
                  }
                  @if (indexDatabase !== 'elastic' && item.name_for_list) {
                    {{item.name_for_list}} @if (item.lived_between) {<span> ({{item.lived_between}})</span>}
                  }
                </a>
              }
              @if ((indexType === 'keywords' || indexType === 'places') && item.name.length > 1) {
                <a aria-haspopup="dialog"
                      rel="nofollow"
                      [routerLink]="[]"
                      [queryParams]="{ id: item.id }"
                      [queryParamsHandling]="'merge'"
                      [relativeTo]="route"
                      [replaceUrl]="true"
                >{{item.name}}</a>
              }
              @if (indexType === 'works' && item.title.length > 1) {
                <a aria-haspopup="dialog"
                      rel="nofollow"
                      [routerLink]="[]"
                      [queryParams]="{ id: item.id }"
                      [queryParamsHandling]="'merge'"
                      [relativeTo]="route"
                      [replaceUrl]="true"
                >
                  @for (author of item.author_data; track author; let i = $index) {
                    <span class="author">{{(author['last_name'] != '') ? author['last_name'].trim() : ''}}@if (author['first_name'].length>0) {<span>, </span>}{{(author['first_name'] != '') ? author['first_name'].trim() : ''}}{{(i < (item.author_data.length-1)) ? ', ' : ''}}</span>}@if (item.author_data.length>0) {<span>, </span>}<i>{{item.title}}</i>
                </a>
              }
              
            </li>
          }
        </ol>
      </div>

      <div class="load-more-row">
        <div class="loading-spinner-wrapper">
          @if (showLoading) {
            <ion-spinner class="loading" name="crescent"></ion-spinner>
          }
        </div>
        @if (indexDatabase === 'elastic' && data.length > 0 && hasMore()) {
          <ion-button class="custom-button"
                (click)="loadMore($event)"
                [disabled]="showLoading"
                i18n="@@BasicActions.ShowMore"
          >Visa fler</ion-button>
        }
      </div>

      @if (data.length > 30) {
        <div class="footer-row">
          <ion-button fill="outline"
                class="custom-outline-button"
                (click)="scrollToTop()"
                i18n="@@BasicActions.ScrollToTop"
          >Till början</ion-button>
        </div>
      }
    </div>

    @if (indexType !== 'works') {
      <div class="alphabet-filter">
        <ion-fab-button size="small" (click)="reset()" title="Ta bort sökord och aktiva avgränsningar" i18n-title="@@Index.Reset">
          <ion-icon name="refresh" aria-label="Ta bort sökord och aktiva avgränsningar" i18n-aria-label="@@Index.Reset"></ion-icon>
        </ion-fab-button>
        @for (letter of alphabet; track letter) {
          <ion-fab-button size="small" (click)="filterByInitialLetter(letter)">{{letter}}</ion-fab-button>
        }
        <ion-fab-button size="small" (click)="reset()" title="Ta bort sökord och aktiva avgränsningar" i18n-title="@@Index.Reset">
          <ion-icon name="refresh" aria-label="Ta bort sökord och aktiva avgränsningar" i18n-aria-label="@@Index.Reset"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="scroll-to-top" size="small" (click)="scrollToTop()" title="Till början" i18n-title="@@BasicActions.ScrollToTop">
          <ion-icon name="arrow-up-outline" aria-label="Till början" i18n-aria-label="@@BasicActions.ScrollToTop"></ion-icon>
        </ion-fab-button>
      </div>
    }

  </div>
</ion-content>
