article {
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  max-width: 530px;
  padding: 1rem;
  width: 100%;

  h1 {
    font-size: 1.625rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
    text-align: center;
    text-transform: uppercase;

    ion-icon {
      margin-right: 0.375em;
      position: relative;
      top: 0.11em;
    }
  }
}
