/*
  Side menu CSS variables scoped to <ion-app> by import, so in practice these are
  global, though they won’t be included in the global styles.css.

  To override any of these variables in custom.scss you must use
  this selector for defining the scope:

  ion-app[class][class] { }
*/

ion-app {
  --side-menu-text-color:                        #000;
  --side-menu-background-color:                  var(--main-background-color);
  --side-menu-border-right-color:                #dedede;
  --side-menu-divider-color:                     #dedede;
  --side-menu-hover-color:                       var(--primary-color);
  --side-menu-description-text-color:            #4f4f4f;
  --side-menu-collection-title-text-color:       var(--side-menu-text-color);
  --side-menu-collection-title-background-color: #bababa;
  --side-menu-back-button-text-color:            var(--secondary-toolbar-color-contrast);
  --side-menu-back-button-background-color:      var(--secondary-toolbar-color);
  --side-menu-selected-text-color:               var(--side-menu-text-color);
  --side-menu-selected-font-weight:              bold;
  --side-menu-selected-background-color:         transparent;
  --side-menu-selected-hover-color:              var(--side-menu-hover-color);
  --side-menu-selected-description-text-color:   var(--side-menu-description-text-color);
}
