<ion-spinner *ngIf="!text" class="loading" name="crescent"></ion-spinner>

<div *ngIf="text && variants.length>0" class="text-select-wrapper">
  <h3 [innerHTML]="selectedVariant.name"></h3>
  <div class="flex-buttons">
    <ion-button class="custom-button" (click)="selectVariant($event)" i18n="@@Variants.ChangeVariant">Byt variant</ion-button>
    <ion-button class="custom-outline-button" fill="outline" (click)="selectVariantForNewView()" i18n="@@Variants.OpenNewVariant">Öppna ny variant</ion-button>
    <ion-button *ngIf="showOpenLegendButton" fill="outline" slot="icon-only" class="circular-icon-button align-right" (click)="openNewLegend($event)" title="Teckenförklaringar" i18n-title="@@Legend.Legend">
      <ion-icon name="help-outline"></ion-icon>
    </ion-button>
  </div>
</div>

<div class="tei teiContainer teiVariant"
      [class.show_pageBreakOriginal]="viewOptionsService.show.pageBreakOriginal"
      [innerHTML]="text | trustHtml"
></div>
