ion-list-header {
	--background: var(--secondary-color);
	--color: var(--secondary-color-contrast);
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0;
}
ion-list.list-md {
	background: var(--main-background-color);
	padding: 0;
}
ion-list.list-md:last-child {
	padding-bottom: 0.25em;
}

ion-item.item {
	--background: var(--main-background-color);
	--background-hover: var(--main-background-color);
	--border-color: var(--main-background-accent-color);
}
ion-item.item:last-child {
	--border-width: 0;
}

ion-button.close {
	--padding-start: 0.65em;
	--padding-end: 0.65em;

	&.ion-focused {
		outline: solid;
		outline-offset: -4px;
	}

	ion-icon {
		font-size: 1.8em;
	}
}

.font-size-buttons-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2px 0;
}

ion-button.text-button {
	--background: transparent;
	--background-hover: var(--button-background-color);
	--background-hover-opacity: 0.2;
	--box-shadow: none;
	--color: #000;
	--padding-start: 0;
	--padding-end: 0;

	&.ion-focused {
		outline: solid;
	}
}
ion-button.text-button::part(native) {
	width: 3.25rem;
}
ion-button.text-button.selected-font-size {
	--background: var(--button-background-color);
	--color: var(--button-text-color);
}
ion-button.text-xsmall {
	font-size: 0.75rem !important;
}
ion-button.text-small {
	font-size: 1rem !important;
}
ion-button.text-medium {
	font-size: 1.25rem !important;
}
ion-button.text-large {
	--padding-bottom: 6px;
	--padding-top: 6px;
	font-size: 1.5rem !important;
}
ion-button.text-xlarge {
	--padding-bottom: 4px;
	--padding-top: 4px;
	font-size: 1.75rem !important;
}

.asterisk {
	height: 0.8125rem;
	padding-right: 0.125rem;
}
.show_personInfo::part(label) {
	background-color: var(--persName-color, #f9e0bf);
}
.show_workInfo::part(label) {
	background-color: var(--workTitle-color, #f7efba);
}
.show_placeInfo::part(label) {
	background-color: var(--placeName-color, #dee8ca);
}
.show_abbreviations::part(label) {
	background-color: var(--abbreviations-color, #ffe2fa);
}
.show_emendationsInfo::part(label) {
	background-color: var(--emendations-color, #ccc);
}
.show_normalisationsInfo::part(label) {
	background-color: var(--normalisations-color, #e6e6e6);
}
.show_pageBreakOriginal::part(label) {
	color: var(--pageBreakOriginal-color, #b32fa0);
}
.show_pageBreakEdition::part(label) {
	color: var(--pageBreakEdition-color, #8f6b28);
}
