<ion-spinner *ngIf="isLoading" class="loading" name="crescent"></ion-spinner>

<ul *ngIf="occurrenceData.length" class="sd-occurrences" role="menu">
  <li *ngFor="let collection of occurrenceData"
        [attr.aria-expanded]="!collection.hidden"
        [attr.aria-haspopup]="'menu'"
        role="menuitem"
  >
    <button (click)="toggleList(collection.collection_id)">
      <span class="coll-name">{{collection.name}}</span>
      <ion-icon [class.open]="!collection.hidden" name="chevron-forward-outline" class="toggle-icon"></ion-icon>
    </button>
    <ul *ngIf="!collection.hidden" role="menu">
      <li *ngFor="let publication of collection['publications']" role="menuitem">
        <span class="text-name">{{publication.occurrences[0].displayName}}<ng-container
            *ngIf="publication.occurrences.length > 1"> ({{publication.occurrences.length}}&nbsp;<ng-container
              i18n="@@NamedEntity.OccurrencesLowercase">förekomster</ng-container>)</ng-container></span>

        <div class="text-links">
          <ng-container *ngFor="let occ of publication.occurrences; index as i">
            <a *ngIf="i < 1 || (i > 0 && (publication.occurrences[i].textType === 'facs' || publication.occurrences[i].textType !== publication.occurrences[i-1].textType))"
                  class="button-link" [routerLink]="occ.linkID | collectionPagePath"
                  [queryParams]="occ | occurrenceCollectionTextPageQueryparams"
            >
              <ng-container *ngIf="occ.textType == 'ms'" i18n="@@Manuscripts.Manuscript">Manuskript</ng-container>
              <ng-container *ngIf="occ.textType == 'var'" i18n="@@Variants.Variant">Tryckt variant</ng-container>
              <ng-container *ngIf="occ.textType == 'com'" i18n="@@Commentary.Commentary">Kommentar</ng-container>
              <ng-container *ngIf="occ.textType == 'facs'" i18n="@@Facsimiles.Facsimile">Faksimil</ng-container><ng-container *ngIf="occ.facsimilePage">:&nbsp;{{occ.facsimilePage}}</ng-container>
              <ng-container *ngIf="occ.textType == 'rt'" i18n="@@ReadingText.ReadingText">Lästext</ng-container>
            </a>
          </ng-container>
        </div>
      </li>
    </ul>
  </li>
</ul>

<p *ngIf="simpleWorkMetadata && (type === 'work' || type === 'work_manifestation'); else noOccurrences"
  i18n="@@NamedEntity.WorkOccurrencesUnavailable">Förekomster för verk är inte tillgängliga.</p>

<ng-template #noOccurrences>
  <p *ngIf="!isLoading && occurrenceData.length < 1" i18n="@@NamedEntity.NoInfoFound">Ingen information hittades.</p>
</ng-template>
