@if (!isLoading) {
  <div class="menu-header">
    <a class="go-back-menu-item" [routerLink]="['/content']" [queryParams]="{ menu: 'open' }">
      <ion-icon aria-hidden="true" name="chevron-back-outline"></ion-icon>
      <span i18n="@@CollectionSideMenu.Back">Tillbaka</span>
    </a>
    <h2 id="side-menu-collection-title">{{collectionTitle}}</h2>
  </div>
  @if (sortOptions.length > 0) {
    <div class="sort-select-wrapper">
      <ion-select class="sort-select"
            label="Sortering"
            i18n-label="@@CollectionSideMenu.SortOptions.Sorting"
            label-placement="floating"
            fill="outline"
            okText="Ok"
            i18n-okText="@@BasicActions.Ok"
            cancelText="Avbryt"
            i18n-cancelText="@@BasicActions.Cancel"
            [interfaceOptions]="sortSelectOptions"
            (ionChange)="setActiveMenuSorting($event)"
            [value]="activeMenuOrder"
      >
        <ion-select-option
              value="default"
              i18n="@@CollectionSideMenu.SortOptions.Default"
        >Standard</ion-select-option>
        @if (sortOptions | arrayIncludes:'alphabetical') {
          <ion-select-option
                value="alphabetical"
                i18n="@@CollectionSideMenu.SortOptions.Alphabetical"
          >Alfabetisk</ion-select-option>
        }
        @if (sortOptions | arrayIncludes:'chronological') {
          <ion-select-option
                value="chronological"
                i18n="@@CollectionSideMenu.SortOptions.Chronological"
          >Kronologisk</ion-select-option>
        }
        @if (sortOptions | arrayIncludes:'categorical') {
          <ion-select-option
                value="categorical"
                i18n="@@CollectionSideMenu.SortOptions.Categorical"
          >Kategorivis</ion-select-option>
        }
      </ion-select>
    </div>
  }
  <ul role="menu" [ngClass]="activeMenuOrder + '-menu-sorting'">
    @if (enableCover) {
      <li [attr.aria-current]="routeUrlSegments[2].path === 'cover' ? 'page' : null" role="menuitem" data-id="toc_cover">
        <a routerLink="{{collectionID | collectionPagePath:'cover'}}" [class.menu-highlight]="routeUrlSegments[2].path === 'cover'">
          <span class="label">{{ coverPageName }}</span>
        </a>
      </li>
    }
    @if (enableTitle) {
      <li [attr.aria-current]="routeUrlSegments[2].path === 'title' ? 'page' : null" role="menuitem" data-id="toc_title">
        <a routerLink="{{collectionID | collectionPagePath:'title'}}" [class.menu-highlight]="routeUrlSegments[2].path === 'title'">
          <span class="label">{{ titlePageName }}</span>
        </a>
      </li>
    }
    @if (enableForeword) {
      <li [attr.aria-current]="routeUrlSegments[2].path === 'foreword' ? 'page' : null" role="menuitem" data-id="toc_foreword">
        <a routerLink="{{collectionID | collectionPagePath:'foreword'}}" [class.menu-highlight]="routeUrlSegments[2].path === 'foreword'">
          <span class="label">{{ forewordPageName }}</span>
        </a>
      </li>
    }
    @if (enableIntroduction) {
      <li [attr.aria-current]="routeUrlSegments[2].path === 'introduction' ? 'page' : null" role="menuitem" data-id="toc_introduction">
        <a routerLink="{{collectionID | collectionPagePath:'introduction'}}" [class.menu-highlight]="routeUrlSegments[2].path === 'introduction'">
          <span class="label">{{ introductionPageName }}</span>
        </a>
      </li>
    }
    <ng-container *ngTemplateOutlet="recursiveMenu; context: {$implicit: collectionMenu}"/>
  </ul>
}

<ng-template #recursiveMenu let-list>
  @for (item of list; track item) {
    <li
          [attr.data-id]="item.itemId ? 'toc_' + item.itemId : ''"
          [attr.aria-current]="currentMenuItemId === item.itemId ? 'page' : null"
          [attr.aria-haspopup]="item.children ? 'menu' : null"
          [attr.aria-expanded]="item.children ? (selectedMenu | arrayIncludesAny:[item.itemId, item.nodeId]) : null"
          role="menuitem"
    >
      @if (item.itemId) {
        <a
              [routerLink]="item.itemId | collectionPagePath"
              [queryParams]="item.itemId | collectionPagePositionQueryparam"
              [class.menu-highlight]="currentMenuItemId === item.itemId"
              [class.submenu-label]="item.children"
        >
          <ng-container *ngTemplateOutlet="menuItemContent; context: {$implicit: item}"/>
        </a>
      } @else {
        <button
              (click)="toggle(item)"
              [class.submenu-label]="item.children"
        >
          <ng-container *ngTemplateOutlet="menuItemContent; context: {$implicit: item}"/>
        </button>
      }
      @if (item.children) {
        <ul role="menu"
              [class.open]="selectedMenu | arrayIncludesAny:[item.itemId, item.nodeId]"
        >
          <ng-container *ngTemplateOutlet="recursiveMenu; context: {$implicit: item.children}"/>
        </ul>
      }
    </li>
  }
</ng-template>

<ng-template #menuItemContent let-item>
  <span class="label">
    {{item.text}}
    @if (item.description) {
      <span class="description">{{item.description}}</span>
    }
  </span>
  @if (!item.children && item.facsimileOnly) {
    <ion-icon name="image-outline"
          class="item-icon-r facs-only-icon"
          aria-hidden="true"
    ></ion-icon>
  }
  @if (item.children) {
    <ion-icon name="chevron-forward-outline"
          class="item-icon-r toggle-icon"
          aria-hidden="true"
          [class.open]="selectedMenu | arrayIncludesAny:[item.itemId, item.nodeId]"
    ></ion-icon>
  }
</ng-template>
