ion-grid {
  --ion-grid-padding: 0;
  margin: -0.75rem -0.75rem 0 -0.75rem;
}

ion-col {
  --ion-grid-column-padding: 0.75rem;

  a {
    background-color: #fff;
    border: 0.0625rem solid #fff;
    color: #000;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    padding: 0.4375rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    width: 100%;

    &:hover {
      border-color: var(--button-background-color);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    border-top: 1px solid var(--button-background-color);
    font-size: 1.125rem;
    line-height: 1.35;
    margin: 0.5rem 0 0 0;
    padding: 0.75rem 0.375rem 0.3125rem 0.375rem;
    text-align: center;

    &.hide-title {
      display: none;
    }
  }
}

ion-spinner {
  padding-top: 2rem;
}

@media only screen and (max-width: 575px) {
  ion-grid {
    margin: -0.25rem -0.25rem 0 -0.25rem;
  }

  ion-col {
    --ion-grid-column-padding: 0.25rem;

    a {
      align-content: center;
      align-items: center;
      flex-flow: row nowrap;
    }

    img {
      margin: 0 1rem 0 0;
      max-width: 27.5%;
      min-width: 110px;
    }

    h2 {
      border-top: 0;
      margin: auto 0.5rem auto 0;
      overflow-wrap: anywhere;
      padding: 0;
      text-align: start;

      /* Title always shown on small screens*/
      &.hide-title {
        display: block;
      }
    }

  }

}
