@if ((contentItems$ | async); as data) {
  <ion-grid>
    <ion-row>
      @for (item of data; track item.id) {
        <ion-col size="12" size-sm="6" size-md="4" size-xl="3">
          <a [routerLink]="item.type !== 'media-collection' ? ('/' + item.type | parentChildPagePath: item.id) : ('/' + item.type)" [title]="item.title">
            @if (item.imageURL) {
              <img
                    [src]="item.imageURL"
                    [alt]="item.imageAltText"
                    loading="lazy"
              >
            }
            <h2 [class.hide-title]="!showTitles" [innerHTML]="item.title"></h2>
          </a>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
} @else {
  <ion-spinner class="loading" name="crescent"></ion-spinner>
}
