<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    <text-changer slot="start" *ngIf="!mobileMode" [textItemID]="collectionID" [parentPageType]="'page-title'" class="text-changer-desktop-mode"></text-changer>

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showURNButton" (click)="showReference()">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.Refer">Hänvisa</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" (click)="showViewOptionsPopover($event)">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span class="side-title" i18n="@@ViewOptions.Settings">Inställningar</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="collection-ion-content" [class.mobile-mode-content]="mobileMode" [scrollX]="false" [scrollY]="false">
  <article class="scroll-content-container"
        [class.xsmallFontSize]="textsize == TextsizeEnum.XSmall"
        [class.smallFontSize]="textsize == TextsizeEnum.Small"
        [class.mediumFontSize]="textsize == TextsizeEnum.Medium"
        [class.largeFontSize]="textsize == TextsizeEnum.Large"
        [class.xlargeFontSize]="textsize == TextsizeEnum.XLarge"
  >
    <div *ngIf="(text$ | async) as text; else loading"
          [class.tei]="!loadContentFromMarkdown"
          [class.teiContainer]="!loadContentFromMarkdown"
          [class.markdown]="loadContentFromMarkdown"
          [class.md_content]="loadContentFromMarkdown"
          [innerHTML]="text | trustHtml"
    ></div>
    <ng-template #loading>
      <ion-spinner class="loading" name="crescent"></ion-spinner>
    </ng-template>
  </article>
</ion-content>

<text-changer *ngIf="mobileMode" [textItemID]="collectionID" [parentPageType]="'page-title'" class="text-changer-mobile-mode"></text-changer>
