<ion-content>

  <h1 class="page-title" i18n="@@ElasticSearch.SearchEdition">Sök i utgåvan</h1>

  @if ((mdContent$ | async); as mdContent) {
    <div class="info markdown" [innerHTML]="mdContent | trustHtml"></div>
  }

  <div class="search-container">

    <!-- Search bar -->
    <div class="search-row" [class.filters-hidden]="!filtersVisible">
      <ion-searchbar
            class="custom-searchbar manual-exec"
            [class.highlight]="query"
            placeholder="Sök ..."
            i18n-placeholder="@@BasicActions.SearchEllipsis"
            show-clear-button="always"
            enterkeyhint="search"
            inputmode="search"
            [searchIcon]="undefined"
            [disabled]="initializing"
            [(ngModel)]="query"
            (ionClear)="clearSearchQuery()"
            (keyup.enter)="submitSearchQuery()"
      ></ion-searchbar>
      <ion-button (click)="submitSearchQuery()" [disabled]="initializing">
        <ion-icon slot="icon-only" name="search" aria-label="Sök" i18n-aria-label="@@BasicActions.Search"></ion-icon>
      </ion-button>

      <!-- Toggle filters visibility button -->
      @if (enableFilters) {
        <ion-button
              fill="outline"
              class="custom-outline-button show-filters-button"
              (click)="toggleFiltersColumn()"
              [disabled]="initializing"
        >
          <ion-icon name="filter-outline" slot="start"></ion-icon>
          @if (!filtersVisible) {
            <ng-container i18n="@@ElasticSearch.ShowFacets">Visa avgränsningar</ng-container>
          } @else {
            <ng-container i18n="@@ElasticSearch.HideFacets">Dölj avgränsningar</ng-container>
          }
        </ion-button>
      }
    </div>

    <div class="filter-and-hits-area-row">
      <!-- Active filters and search results column -->
      <div class="search-result-column" [style.min-height]="loading && !loadingMoreHits ? searchResultsColumnMinHeight : null">

        <!-- Active filters -->
        @if (this.activeFilters.length || rangeYears) {
          <div class="active-filters-row">
            <div class="active-filters-wrapper">
              @for (activeFilterGroup of activeFilters; track activeFilterGroup.name) {
                @if (activeFilterGroup.keys.length) {
                  <div class="active-filter-group">
                    <p class="afg-title">
                      @if (activeFilterGroup.name === 'Type') {
                        <ng-container i18n="@@ElasticSearch.Type">Texttyp</ng-container>:
                      } @else if (activeFilterGroup.name === 'Genre') {
                        <ng-container i18n="@@ElasticSearch.Genre">Genre</ng-container>:
                      } @else if (activeFilterGroup.name === 'Collection') {
                        <ng-container i18n="@@ElasticSearch.Collection">Delutgåva</ng-container>:
                      } @else if (activeFilterGroup.name === 'LetterSenderName') {
                        <ng-container i18n="@@ElasticSearch.LetterSenderName">Avsändare (brev)</ng-container>:
                      } @else if (activeFilterGroup.name === 'LetterReceiverName') {
                        <ng-container i18n="@@ElasticSearch.LetterReceiverName">Mottagare (brev)</ng-container>:
                      } @else if (activeFilterGroup.name === 'LetterSenderLocation') {
                        <ng-container i18n="@@ElasticSearch.LetterSenderLocation">Avsändarort (brev)</ng-container>:
                      } @else if (activeFilterGroup.name === 'LetterReceiverLocation') {
                        <ng-container i18n="@@ElasticSearch.LetterReceiverLocation">Mottagarort (brev)</ng-container>:
                      } @else if (activeFilterGroup.name === 'Region') {
                        <ng-container i18n="@@ElasticSearch.Region">Landskap</ng-container>:
                      } @else if (activeFilterGroup.name === 'Signum') {
                        <ng-container i18n="@@ElasticSearch.Signum">Arkivsignum</ng-container>:
                      }
                    </p>
                    <ul>
                      @for (filterKey of activeFilterGroup.keys; track filterKey) {
                        <li>
                          <ion-button fill="outline"
                                (click)="unselectFilter(activeFilterGroup.name, filterKey)"
                                class="custom-outline-button"
                          >
                            @switch (filterKey.toString()) {
                              @case ('est') {
                                <ng-container i18n="@@ReadingText.ReadingText">Lästext</ng-container>
                              }
                              @case ('com') {
                                <ng-container i18n="@@Commentary.Commentary">Kommentar</ng-container>
                              }
                              @case ('ms') {
                                <ng-container i18n="@@Manuscripts.Manuscript">Manuskript</ng-container>
                              }
                              @case ('var') {
                                <ng-container i18n="@@Variants.Variant">Tryckt variant</ng-container>
                              }
                              @case ('tit') {
                                <ng-container i18n="@@CollectionTitle.TitlePage">Titelblad</ng-container>
                              }
                              @case ('fore') {
                                <ng-container i18n="@@CollectionForeword.Foreword">Förord</ng-container>
                              }
                              @case ('inl') {
                                <ng-container i18n="@@CollectionIntroduction.Introduction">Inledning</ng-container>
                              }
                              @default {
                                {{getEllipsisString(filterKey.toString())}}
                              }
                            }
                            <ion-icon name="close" slot="end"></ion-icon>
                          </ion-button>
                        </li>
                      }
                    </ul>
                  </div>
                }
              }
              @if (rangeYears) {
                <div class="active-filter-group">
                  <p class="afg-title">
                    <ng-container i18n="@@ElasticSearch.TimeRange">Tidsperiod</ng-container>:
                  </p>
                  <ul>
                    <li>
                      <ion-button fill="outline"
                            (click)="onTimeRangeChange({from: null, to: null})"
                            class="custom-outline-button"
                      >
                        {{rangeYears.from}}–{{rangeYears.to}}
                        <ion-icon name="close" slot="end"></ion-icon>
                      </ion-button>
                    </li>
                  </ul>
                </div>
              }
            </div>
            <ion-button class="close"
                  fill="clear"
                  (click)="clearAllActiveFiltersAndTimeRange()"
                  title="Ta bort alla aktiva avgränsningar"
                  i18n-title="@@ElasticSearch.ClearAllActiveFilters"
            >
              <ion-icon name="close"
                    slot="icon-only"
                    aria-label="Ta bort alla aktiva avgränsningar"
                    i18n-aria-label="@@ElasticSearch.ClearAllActiveFilters"
              ></ion-icon>
            </ion-button>
          </div>
        }

        <div class="info-toolbar">
          <!-- Show search hit count -->
          @if (canShowHits() && total > 0) {
            <h2 class="hits-heading"><ng-container i18n="@@ElasticSearch.Found">Texter med sökträffar:</ng-container> {{total}}</h2>
          }
          @if (canShowHits() && total === 0 && !elasticError) {
            <h2 class="hits-heading" i18n="@@ElasticSearch.NoHits">Sökningen gav inga svar.</h2>
          }
          @if (elasticError && total === 0) {
            <h2 class="hits-heading" i18n="@@ElasticSearch.LoadingError">Ett fel har uppstått när sökträffarna skulle laddas.</h2>
          }

          <!-- Sort by -->
          <ion-select class="sort-select"
                [class.show-sort-options]="enableSortOptions && canShowHits() && total > 0"
                label="Sortera enligt"
                i18n-label="@@ElasticSearch.SortBy"
                label-placement="floating"
                fill="outline"
                okText="Ok"
                i18n-okText="@@BasicActions.Ok"
                cancelText="Avbryt"
                i18n-cancelText="@@BasicActions.Cancel"
                [interfaceOptions]="sortSelectOptions"
                (ionChange)="onSortByChanged($event)"
                [value]="sort"
          >
            <ion-select-option
                  value=""
                  i18n="@@ElasticSearch.Relevance"
            >Relevans</ion-select-option>
            <ion-select-option
                  value="orig_date_sort.asc"
                  i18n="@@ElasticSearch.OldestFirst"
            >Äldst först</ion-select-option>
            <ion-select-option
                  value="orig_date_sort.desc"
                  i18n="@@ElasticSearch.NewestFirst"
            >Nyast först</ion-select-option>
          </ion-select>
        </div>

        <!-- Hits column -->
        <div class="hits-column">
          <!-- Search status row -->
          <div class="search-status">
            @if (initializing) {
              <p i18n="@@ElasticSearch.LoadingFilters">Ett ögonblick, laddar sökavgränsningar ...</p>
            }
            @if (total < 0 && !initializing && !loading) {
              <p i18n="@@ElasticSearch.StartSearchInstruction">Börja söka genom att skriva in sökord eller välja avgränsningar.</p>
            }
            @if (loading && total < 1) {
              <ion-spinner class="loading" name="crescent"></ion-spinner>
            }
          </div>

          <!-- Hits -->
          @if (canShowHits() && total > 0) {
            <ol class="search-hits">
              @for (hit of hits; track hit.id; let n = $index) {
                <li class="hit-item">
                  <p>#{{n+1}}</p>
                  <div>
                    <a [routerLink]="hit | elasticHitPagePath" [queryParams]="hit | elasticHitQueryparams">
                      <div>
                        <h3>
                          @if (hit.source.text_type === 'com') {
                            <span
                                  class="hit-heading-prefix"
                                  i18n="@@ElasticSearch.CommentaryTo"
                            >Kommentar till</span>
                          } @else if (hit.source.text_type === 'pdf') {
                            <span
                                  class="hit-heading-prefix"
                                  i18n="@@ElasticSearch.Page"
                            >Sida</span>
                          }
                          <span [innerHTML]="getHeading(hit)"></span>
                        </h3>
                        <p>{{getPublicationCollectionName(hit.source)}}</p>
                      </div>
                      <div>
                        <div class="hit-text-type {{ hit.source.text_type }}">
                          <span>
                            @switch (hit.source.text_type) {
                              @case ('est') {
                                <ng-container i18n="@@ReadingText.ReadingText">Lästext</ng-container>
                              }
                              @case ('com') {
                                <ng-container i18n="@@Commentary.Commentary">Kommentar</ng-container>
                              }
                              @case ('ms') {
                                <ng-container i18n="@@Manuscripts.Manuscript">Manuskript</ng-container>
                              }
                              @case ('var') {
                                <ng-container i18n="@@Variants.Variant">Tryckt variant</ng-container>
                              }
                              @case ('tit') {
                                <ng-container i18n="@@CollectionTitle.TitlePage">Titelblad</ng-container>
                              }
                              @case ('fore') {
                                <ng-container i18n="@@CollectionForeword.Foreword">Förord</ng-container>
                              }
                              @case ('inl') {
                                <ng-container i18n="@@CollectionIntroduction.Introduction">Inledning</ng-container>
                              }
                              @case ('pdf') {
                                <ng-container i18n="@@ElasticSearch.PdfType">E-bok</ng-container>
                              }
                              @default {
                                {{hit.source.text_type}}
                              }
                            }
                          </span>
                        </div>
                        @if (hasDate(hit.source)) {
                          <div class="hit-text-date">
                            <span>{{getDate(hit.source)}}</span>
                          </div>
                        }
                      </div>
                    </a>
                    @if (hit?.highlight?.text_data) {
                      <div class="match-highlights">
                        @for (highlight of hit.highlight?.text_data; track $index; let h = $index) {
                          <p
                                [innerHTML]="'&#8230; ' + highlight + ' &#8230;'"
                                [class.hidden-highlight]="h > 2"
                          ></p>
                        }
                        @if (hit.highlight.text_data.length > 3) {
                          <ion-button
                                fill="outline"
                                class="custom-outline-button show-all-highlights"
                                (click)="showAllHitHighlights($event)"
                          >
                            <ng-container i18n="@@ElasticSearch.ShowAllHitHighlights">Visa alla träffar i texten</ng-container> (+{{hit.highlight.text_data.length-3}})
                          </ion-button>
                        }
                      </div>
                    }
                  </div>
                </li>
              }
            </ol>
          }

          @if (canShowHits() && total > 0 && ((this.total > this.from + this.hitsPerPage) || loadingMoreHits)) {
            <div class="load-more-hits-wrapper">
              <div class="loading-spinner-wrapper">
                <ion-spinner [class.visible]="loadingMoreHits" class="loading" name="crescent"></ion-spinner>
              </div>
              <ion-button class="custom-button"
                    (click)="loadMore()"
                    [disabled]="loadingMoreHits"
                    i18n="@@ElasticSearch.ShowMoreHits"
              >Visa fler sökträffar</ion-button>
            </div>
          }
          @if (canShowHits() && total > 5) {
            <div class="hits-footer">
              <ion-button class="custom-outline-button"
                    fill="outline"
                    (click)="scrollToTop()"
                    i18n="@@BasicActions.ScrollToTop"
              >Till början</ion-button>
            </div>
          }
        </div>

      </div>

      <!-- Filters column -->
      @if (enableFilters) {
        <div class="filter-column" [class.hide-filter-column]="!filtersVisible">
          <h2 [class.greyed-out]="initializing" i18n="@@ElasticSearch.FilterResults">Avgränsa sökningen</h2>
          @for (filterGroup of filterGroups; track filterGroup.name) {
            <div class="fg-wrapper">
              <button (click)="toggleFilterGroupOpenState(filterGroup)">
                <h3>
                  @if (filterGroup.name === 'Years') {
                    <ng-container i18n="@@ElasticSearch.TimeRange">Tidsperiod</ng-container>:
                  } @else if (filterGroup.name === 'Type') {
                    <ng-container i18n="@@ElasticSearch.Type">Texttyp</ng-container>:
                  } @else if (filterGroup.name === 'Genre') {
                    <ng-container i18n="@@ElasticSearch.Genre">Genre</ng-container>:
                  } @else if (filterGroup.name === 'Collection') {
                    <ng-container i18n="@@ElasticSearch.Collection">Delutgåva</ng-container>:
                  } @else if (filterGroup.name === 'LetterSenderName') {
                    <ng-container i18n="@@ElasticSearch.LetterSenderName">Avsändare (brev)</ng-container>:
                  } @else if (filterGroup.name === 'LetterReceiverName') {
                    <ng-container i18n="@@ElasticSearch.LetterReceiverName">Mottagare (brev)</ng-container>:
                  } @else if (filterGroup.name === 'LetterSenderLocation') {
                    <ng-container i18n="@@ElasticSearch.LetterSenderLocation">Avsändarort (brev)</ng-container>:
                  } @else if (filterGroup.name === 'LetterReceiverLocation') {
                    <ng-container i18n="@@ElasticSearch.LetterReceiverLocation">Mottagarort (brev)</ng-container>:
                  } @else if (filterGroup.name === 'Region') {
                    <ng-container i18n="@@ElasticSearch.Region">Landskap</ng-container>:
                  } @else if (filterGroup.name === 'Signum') {
                    <ng-container i18n="@@ElasticSearch.Signum">Arkivsignum</ng-container>:
                  }
                </h3>
                <ion-icon id="arrow-{{filterGroup.name}}" name="chevron-forward" [class.open]="filterGroup.open"></ion-icon>
              </button>
              @if (filterGroup.type === 'date_histogram') {
                <div class="filterlist"
                      [class.open]="filterGroup.open"
                >
                  <date-histogram
                        [years]="filterGroup.filters"
                        [yearsAll]="dateHistogramData"
                        [selectedRange]="rangeYears"
                        (rangeChange)="onTimeRangeChange($event)"
                  ></date-histogram>
                </div>
              }
              @else if (filterGroup.type === 'terms') {
                <ol class="filterlist"
                      [class.open]="filterGroup.open"
                >
                  @if (filterGroup.filters.length) {
                    @for (filter of filterGroup.filters; track filter.key; let j = $index) {
                      @if (showAllFor[filterGroup.name] || j < 10) {
                        <li>
                          <ion-checkbox
                                justify="start"
                                labelPlacement="end"
                                [(ngModel)]="filter.selected"
                                (ionChange)="toggleFilter(filterGroup.name, filter)"
                                [disabled]="disableFilterCheckboxes || (filter.doc_count < 1 && !filter.selected)"
                          >
                            @if (filterGroup.name === 'Type') {
                              @switch (filter.key.toString()) {
                                @case ('est') {
                                  <ng-container i18n="@@ReadingText.ReadingText">Lästext</ng-container>
                                }
                                @case ('com') {
                                  <ng-container i18n="@@Commentary.Commentary">Kommentar</ng-container>
                                }
                                @case ('ms') {
                                  <ng-container i18n="@@Manuscripts.Manuscript">Manuskript</ng-container>
                                }
                                @case ('var') {
                                  <ng-container i18n="@@Variants.Variant">Tryckt variant</ng-container>
                                }
                                @case ('tit') {
                                  <ng-container i18n="@@CollectionTitle.TitlePage">Titelblad</ng-container>
                                }
                                @case ('fore') {
                                  <ng-container i18n="@@CollectionForeword.Foreword">Förord</ng-container>
                                }
                                @case ('inl') {
                                  <ng-container i18n="@@CollectionIntroduction.Introduction">Inledning</ng-container>
                                }
                                @default {
                                  {{filter.key.toString()}}
                                }
                              }
                            }
                            @else {
                              {{filter.key_as_string || filter.key}}
                            }
                            <span [ngStyle]="{
                                    'font-size': 'var(--doc-count-font-size)',
                                    'color': 'var(--doc-count-color)'
                                  }"
                                  [innerHTML]="' (' + filter.doc_count + ')'"
                            ></span>
                          </ion-checkbox>
                        </li>
                      }
                    }
                    <li>
                      @if (filterGroup.filters.length > 10) {
                        <ion-button class="custom-button more-filters"
                              (click)="showAllFor[filterGroup.name] = !showAllFor[filterGroup.name]"
                        >
                          @if (!showAllFor[filterGroup.name]) {
                            <ng-container i18n="@@ElasticSearch.ShowMore">Visa fler</ng-container>
                          }
                          @if (showAllFor[filterGroup.name]) {
                            <ng-container i18n="@@ElasticSearch.ShowLess">Visa färre</ng-container>
                          }
                        </ion-button>
                      }
                    </li>
                  } @else {
                    <li i18n="@@ElasticSearch.NoFilterOptions">Inga sökord</li>
                  }
                </ol>
              }
            </div>
          }
        </div>
      }
    </div>

  </div>

</ion-content>
